*{
    background-color: rgb(194, 176, 206);
    font-size: 5mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.txtTarea{
    margin: 4rem;
    padding: 2rem;
}

.txtEjemplo{
    margin: 4rem;
    padding: 2rem;
}

.txtCifrado{
    margin: 4rem;
    padding: 2rem;
}
